body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

@media only screen and (max-width: 480px) {
    .hide {
        display: none;
    }
    .mobile_mt {
        margin-top: 5%;
    }
    .mobile_pb {
        padding-bottom: 22px;
    }
    .mobile_text {
        font-size: 14px;
        font-weight: 500;
    }
}
